@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Inter&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Noto+Serif+Toto:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Serif+4:opsz,wght@8..60,700&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Inter&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Noto+Serif+Toto:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:opsz,wght@8..60,700&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Inter&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Noto+Serif+Toto:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:opsz,wght@8..60,700&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Courgette&family=Inter&family=Karla:ital,wght@0,200..800;1,200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nanum+Pen+Script&family=Noto+Serif+Toto:wght@400..700&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Source+Serif+4:opsz,wght@8..60,700&family=Young+Serif&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

.main-section {
  padding-inline: 60px;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
  background-color: white;
  align-items: center;
  justify-content: space-between;
}

.logo {
  scale: 0.8;
}

.parallax {
  background-image: url("clients.png");
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.nav-arrow {
  display: flex;
  padding-top: 10px;
}

.nav-arrow img {
  width: 11%;
  height: 12%;
  padding-top: 8px;
}

.nav-arrow p {
  font-family: "Courgette", cursive;
  margin-left: 10px;
}

.menu-ham {
  display: flex;
  margin-left: auto;
}

.menu-ham h3 {
  font-family: "Roboto Condensed", sans-serif;
  padding-right: 6px;
  font-weight: 300;
  font-size: 18px;
}

.media-style {
  display: none;
  background-color: #EFEFEF;
  border-radius: 50%;
  padding-inline: 0px;
  padding: 2px;
  height: 35px;
  width: 40px;
  margin-left: auto;
}

.hero-section {
  background: linear-gradient(#E85CDA, #11BBF1);
  min-height: 90vh;
}
.hero-section .text-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.hero-section .text-content h2 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 180px;
  font-weight: 300;
  margin: 0;
}
.hero-section .text-content .matters {
  display: flex;
  align-items: center;
  gap: 40px;
}
.hero-section .text-content h1 {
  margin: 0;
  overflow: hidden;
}
.hero-section .text-content h1 span {
  display: none;
}
.hero-section .text-content h1 span.text-in {
  display: block;
  animation: textIn 0.5s ease;
}
.hero-section .text-content h1 span.text-out {
  animation: textOut 0.5s ease;
}
@keyframes textIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes textOut {
  0% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.hero-section .text-content h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 180px;
  font-weight: 300;
}
.hero-section .text-content h1 span {
  color: #DFFC5C;
}
.hero-section a {
  text-decoration: none;
  color: black;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 600;
  letter-spacing: 5px;
  font-size: 18px;
  padding-left: 70%;
}

.main-content {
  height: 100%;
  padding-top: 150px;
  background-color: #f8f4f4;
}
.main-content .about-content {
  display: flex;
  flex-direction: row;
  gap: 100px;
  width: 100%;
  justify-content: center;
  padding-bottom: 150px;
  padding-left: 380px;
  padding-top: 40px;
  padding-right: 100px;
}
.main-content .about-content .about-us {
  align-items: center;
  justify-content: center;
}
.main-content .about-content .about-us p {
  font-size: 90px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.main-content .about-content .text {
  flex: 1;
}
.main-content .about-content .text h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 25px;
  font-weight: 800;
}
.main-content .about-content .text h5 {
  font-family: "Courgette", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 40px;
}
.main-content .about-content .text .writing {
  padding-top: 30px;
  line-height: 25px;
}
.main-content .about-content .text .writing p {
  color: #827979;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  padding-bottom: 20px;
}
.main-content .about-content .text .writing button {
  padding: 15px;
  background-color: #DFFC5C;
  font-family: "Roboto Condensed", sans-serif;
  border: none;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-size: 17px;
}
.main-content .parallax-container {
  position: relative;
  overflow: hidden;
  height: 650px;
  background-image: url(clients.png);
  background-size: cover;
  background-position: center;
  min-height: 500px;
  background-attachment: fixed;
  background-repeat: no-repeat;
  z-index: 4;
}
.main-content .parallax-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-size: cover;
  background-position: center;
  z-index: 1;
}
.main-content .parallax-image .parallax-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}
.main-content .parallax-image .parallax-text h1 {
  font-family: "Bebas Neue", sans-serif;
  font-size: 90px;
}
.main-content .parallax-image .parallax-text h2 {
  font-family: "Courgette", sans-serif;
  font-size: 90px;
  color: #DFFC5C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-content video {
  padding-block: 40px;
  position: relative;
  top: 10px;
  width: 100%;
  scale: 0.6;
  transform: translate(0%, -50%);
}
.main-content .what-we-do {
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: flex-end;
  top: -800px;
}
.main-content .what-we-do .what-components {
  display: flex;
  width: 75%;
  min-height: 300px;
  background: linear-gradient(#E85CDA, #11BBF1);
  align-items: center;
  position: relative;
}
.main-content .what-we-do .what-components .what-we-do-text {
  position: absolute;
  z-index: 2;
  left: -100px;
}
.main-content .what-we-do .what-components h1 {
  font-size: 90px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.main-content .what-we-do .what-components .component-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 190px;
  gap: 170px;
}
.main-content .what-we-do .what-components .single-component {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-content .what-we-do .what-components .single-component .single-component:last-child {
  margin-right: 0; /* Remove margin from the last child */
}
.main-content .what-we-do .what-components p {
  padding-top: 10px;
  font-size: 25px;
  font-weight: 750;
  font-family: "Montserrat", sans-serif;
}
.main-content .projections-container {
  padding-left: 280px;
  position: relative;
  top: -600px;
}
.main-content .projections {
  display: flex;
}
.main-content .projections .respon-text {
  display: flex;
}
.main-content .projections h1 {
  font-size: 90px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.main-content .projections h2 {
  font-size: 50px;
  font-family: "Courgette", cursive;
  font-weight: 400;
}
.main-content .projections .medal {
  width: 82px;
  height: 96px;
}
.main-content .projections p {
  padding-left: 300px;
  font-size: 30px;
  font-family: "Courgette", cursive;
  line-height: 45px;
}
.main-content .numbers {
  display: flex;
  flex-direction: row;
  gap: 20px;
  padding-top: 60px;
}
.main-content .numbers .other-container1 {
  display: flex;
  gap: 50px;
}
.main-content .numbers .other-container2 {
  display: flex;
  gap: 50px;
}
.main-content .numbers .numbers-text {
  display: flex;
  gap: 10px;
  align-items: center;
}
.main-content .numbers h3 {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  color: #DFFC5C;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-content .numbers p {
  font-size: 35px;
  font-family: "Bebas Neue", sans-serif;
}
.main-content .numbers span {
  font-size: 35px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 300;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}
.main-content .our-projects {
  padding-left: 280px;
  position: relative;
  top: -350px;
  font-family: "Montserrat", sans-serif;
}
.main-content .our-projects .arrows {
  display: flex;
  gap: 8px;
  cursor: pointer;
  position: absolute;
  right: 70px;
}
.main-content .our-projects .arrows .next {
  border-radius: 50%;
  border: 1px;
  padding: 15px;
  padding-inline: 20px;
  background-color: #EFEFEF;
}
.main-content .our-projects .arrows .prev {
  border-radius: 50%;
  border: 1px;
  padding: 15px;
  padding-inline: 20px;
  background: linear-gradient(#E85CDA, #11BBF1);
}
.main-content .our-projects h1 {
  font-size: 90px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.main-content .our-projects .images {
  display: flex;
  gap: 150px;
  padding-top: 70px;
}
.main-content .our-projects .images img {
  max-width: 100%;
}
.main-content .our-projects .projects-text {
  text-align: center;
  padding-top: 10px;
}
.main-content .our-projects .projects-text h2 {
  font-weight: 400;
  font-size: 22px;
  padding-top: 20px;
}
.main-content .contact-us {
  padding-left: 280px;
  position: relative;
  top: -80px;
  background-color: white;
  padding-bottom: 100px;
  padding-top: 40px;
}
.main-content .contact-us .contactus-content {
  display: flex;
  gap: 170px;
  align-items: center;
}
.main-content .contact-us h1 {
  font-size: 80px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
}
.main-content .contact-us h2 {
  font-family: "Courgette", cursive;
  font-size: 30px;
  font-weight: 400;
}
.main-content .contact-us span {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  display: block;
}
.main-content .contact-us p {
  font-size: 27px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
}
.main-content .footer {
  display: flex;
  align-items: center;
  padding-inline: 15px;
  padding-block: 15px;
  background-color: white;
  max-width: 100%;
  margin-top: 80px;
}
.main-content p {
  font-family: "Montserrat", sans-serif;
  color: black;
}
.main-content .icons {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: auto;
  scale: 0.8;
}

.burger {
  position: relative;
  width: 40px;
  height: 20px;
  cursor: pointer;
  display: block;
  scale: 0.8;
  margin-top: 3px;
}

.burger input {
  display: none;
}

.burger span {
  display: block;
  position: absolute;
  height: 2px;
  width: 100%;
  background: black;
  opacity: 1;
  transform: rotate(0deg);
  transition: 0.25s ease-in-out;
}

.burger span:nth-of-type(1) {
  top: 0px;
  transform-origin: left center;
  width: 26px;
  right: 0px;
}

.burger span:nth-of-type(2) {
  top: 50%;
  transform: translateY(-50%);
  transform-origin: left center;
  left: 0;
}

.burger span:nth-of-type(3) {
  top: 100%;
  transform-origin: left center;
  transform: translateY(-50%);
  width: 20px;
  right: 0px;
}

.burger input:checked ~ span:nth-of-type(1) {
  top: 0;
  left: 5px;
  transform: rotate(405deg);
  width: 100%;
}

.burger input:checked ~ span:nth-of-type(2) {
  width: 0%;
  opacity: 0;
}

.burger input:checked ~ span:nth-of-type(3) {
  top: 28px;
  left: 5px;
  transform: rotate(-405deg);
  width: 100%;
}

/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0, 0, 0); /* Black fallback color */
  background-color: rgba(0, 0, 0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; /* Display block instead of inline */
  transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
  display: none;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
@media (max-width: 1900px) {
  .main-section .hero-section a {
    padding-top: 440px;
  }
}
@media (max-width: 1700px) {
  .main-section .hero-section .text-content {
    padding-top: 60px;
  }
  .main-content .about-content {
    padding-left: 300px; /* Reduce padding on smaller screens */
  }
  .main-content video {
    top: 80px;
  }
  .main-content .what-we-do {
    top: -550px;
  }
  .main-content .projections-container {
    top: -250px;
    padding-left: 180px;
  }
  .main-content .projections p {
    padding-left: 200px;
    padding-right: 10px;
  }
  .main-content .numbers {
    gap: 70px;
  }
  .main-content .our-projects {
    top: 50px;
    padding-left: 120px;
  }
  .main-content .our-projects .images {
    gap: 50px;
    padding-right: 20px;
  }
  .main-content .contact-us {
    padding-left: 120px;
    padding-right: 20px;
    top: 250px;
  }
  .main-content .contact-us .contactus-content {
    gap: 90px;
  }
  .main-content .footer {
    margin-top: 200px;
    padding: 70px;
    padding-bottom: 15px;
  }
}
@media (max-width: 1470px) {
  .main-section .hero-section .text-content h1 {
    font-size: 140px;
  }
  .main-section .hero-section a {
    padding-left: 60%;
  }
  .main-content .about-content {
    padding-left: 200px; /* Reduce padding on smaller screens */
  }
  .main-content .projections-container {
    padding-left: 150px;
  }
  .main-content .numbers {
    gap: 28px;
    padding-right: 20px;
  }
  .main-content .contact-us .contactus-content {
    gap: 80px;
  }
  .main-content .what-we-do {
    top: -430px;
  }
}
@media (max-width: 1150px) {
  .hero-section {
    padding-inline: 50px;
    padding-top: 30px;
  }
  .hero-section .text-content h1 {
    font-size: 140px;
  }
  .hero-section .text-content a {
    padding-left: 400px;
  }
  .main-content .about-content {
    padding-left: 100px; /* Reduce padding on smaller screens */
  }
}
@media (max-width: 1140px) {
  .main-section .hero-section .text-content h1 {
    font-size: 120px;
  }
  .main-section .hero-section a {
    padding-left: 0%;
  }
  .main-content .about-content {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .main-content .about-content text {
    padding-bottom: 10px;
  }
}
@media (max-width: 1030px) {
  .main-section {
    padding-inline: 0;
  }
  .main-section .hero-section {
    position: relative;
  }
  .main-section .hero-section h1 {
    font-size: 120px;
    line-height: 130px;
  }
  .main-section .hero-section a {
    padding-left: 10px;
  }
  .main-section .header {
    position: absolute;
    z-index: 1;
    background-color: transparent;
    padding-inline: 10px;
  }
  .menu-ham {
    display: none;
  }
  .media-style {
    align-items: center;
    display: flex;
  }
  .burger {
    scale: 0.6;
  }
  .main-content .what-we-do {
    top: -330px;
    padding-top: 40px;
  }
  .main-content .what-we-do .what-components {
    width: 100% !important;
    min-height: 230px;
    flex-shrink: 1;
  }
  .main-content .what-we-do .what-components .component-container {
    flex-shrink: 1;
  }
  .main-content .what-we-do .what-components .component-container .single-component {
    scale: 0.7;
  }
  .main-content .what-we-do .what-components .what-we-do-text {
    top: -103px;
    left: 40px;
  }
  .main-content .what-we-do .what-components h1 {
    font-size: 70px;
    line-height: 65px;
  }
  .main-content .projections-container {
    top: -80px;
    padding-left: 90px;
  }
  .main-content .projections p {
    padding-left: 100px;
    padding-right: 10px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 40px;
  }
  .main-content .projections h1 {
    font-size: 70px;
  }
  .main-content .projections h2 {
    font-size: 30px;
  }
  .main-content .projections .medal {
    width: 60px;
    height: 68px;
  }
  .main-content .numbers h3 {
    font-size: 70px;
  }
  .main-content .numbers p {
    font-size: 25px;
  }
  .main-content .numbers span {
    font-size: 25px;
  }
  .main-content .our-projects {
    padding-left: 25px !important;
  }
  .main-content .our-projects h1 {
    font-size: 70px;
    line-height: 70px;
  }
  .main-content .our-projects .projects-text h2 {
    font-size: 18px;
  }
  .main-content .our-projects .arrows {
    scale: 0.9;
  }
  .main-content .contact-us {
    padding-left: 25px !important;
  }
}
@media (max-width: 1170px) {
  .main-content .projections-container {
    padding-left: 25px;
  }
  .main-content .numbers {
    gap: 20px;
  }
  .main-content .contact-us {
    padding-left: 90px;
  }
  .main-content .contact-us .contactus-content {
    gap: 30px !important;
  }
  .main-content .contact-us h1 {
    font-size: 60px;
  }
  .main-content .contact-us h2 {
    font-size: 20px;
  }
  .main-content .contact-us p {
    font-size: 20px;
  }
  .main-content .contact-us span {
    font-size: 20px;
  }
}
@media (max-width: 440px) {
  .main-content .what-we-do {
    width: 100%;
  }
  .main-content .what-we-do .what-components {
    width: 500px !important;
  }
  .main-content .what-we-do .what-components .component-container {
    gap: 0 !important;
    margin: 0 !important;
    width: 1 !important;
  }
}
@media (max-width: 900px) {
  .main-section .text-section .header {
    scale: 0.8;
  }
  .parallax-container .parallax-image .parallax-text {
    text-align: start;
  }
  .parallax-container .parallax-image .parallax-text h2 {
    font-size: 70px;
  }
}
@media (max-width: 560px) {
  .hero-section .text-content {
    padding-top: 90px;
  }
  .hero-section .text-content h1 {
    font-size: 100px;
    line-height: 85px;
  }
  .main-content .about-content {
    padding-left: 38px; /* Reduce padding on smaller screens */
    padding-right: 10px;
  }
  .main-content .about-content .about-us p {
    font-size: 70px;
  }
  .main-content .about-content h4 {
    font-size: 24px;
  }
  .main-content .about-content .text h5 {
    font-size: 24px;
  }
  .main-content .about-content .text .writing {
    line-height: 22px;
  }
  .main-content .about-content .text .writing p {
    font-size: 18px;
  }
  .main-content .what-we-do .what-components .component-container {
    scale: 0.8 !important;
    gap: 0px !important;
  }
}
@media (max-width: 580px) {
  .main-section .hero-section h1 {
    line-height: 120px;
  }
  .main-content video {
    scale: 0.9;
  }
  .main-content .parallax-container {
    height: 400px;
  }
  .main-content .parallax-container .parallax-image {
    height: 300px;
  }
  .main-content .parallax-container .parallax-image .parallax-text h1 {
    font-size: 60px;
  }
  .main-content .parallax-container .parallax-image .parallax-text h2 {
    font-size: 30px;
  }
  .main-content .what-we-do {
    top: -60px !important;
  }
  .main-content .projections-container {
    top: 70px;
    scale: 0.9;
    padding-left: 10px;
  }
  .main-content .projections {
    display: flex;
    flex-direction: column;
  }
  .main-content .projections p {
    padding-left: 4px !important;
  }
  .main-content .projections h1 {
    font-size: 60px;
  }
  .main-content .numbers {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap into multiple rows */
    justify-content: space-between;
  }
  .main-content .numbers .numbers-text {
    flex-basis: calc(50% - 10px); /* Set the width of each item to half minus the margin */
    margin: 5px;
  }
  .main-content .our-projects {
    scale: 0.9;
    padding-left: 5px;
    top: 150px;
  }
  .main-content .our-projects .arrows {
    scale: 0.7;
    right: 10px;
  }
}
@media (max-width: 850px) {
  .main-section .hero-section .text-content {
    text-align: center;
  }
  .main-section .hero-section .text-content .matters {
    flex-direction: column;
    gap: 0;
  }
  .main-content video {
    scale: 0.9;
    top: 160px;
  }
  .main-content .what-we-do {
    top: -180px;
  }
  .main-content .what-we-do .component-container {
    padding-left: 0px !important;
  }
  .main-content .projections p {
    padding-left: 50px;
  }
  .main-content .numbers {
    display: flex;
    flex-wrap: wrap;
  }
  .main-content .numbers .other-container1 {
    gap: 120px !important;
  }
  .main-content .numbers .other-container2 {
    gap: 100px !important;
  }
  .main-content .numbers .numbers-text {
    flex-direction: row;
  }
  .main-content .contact-us {
    padding-top: 15px;
    padding-bottom: 20px;
  }
  .main-content .contact-us .contactus-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .main-content .contact-us h1 {
    font-size: 42px;
  }
  .main-content .contact-us p {
    font-size: 15px;
  }
  .main-content .contact-us span {
    font-size: 18px;
  }
}
@media (max-width: 700px) {
  .main-content .what-we-do .what-components .component-container {
    gap: 30px !important;
    color: red;
  }
}
@media (max-width: 1690px) {
  .main-content .what-we-do .what-components .component-container {
    gap: 120px;
    padding-left: 100px;
    padding-right: 20px;
  }
}
@media (max-width: 1360px) {
  .main-content .what-we-do .what-components {
    width: -moz-fit-content;
    width: fit-content;
  }
  .main-content .what-we-do .what-components .component-container {
    gap: 80px;
    padding-left: 100px;
    padding-right: 20px;
  }
  .main-content .contact-us .contactus-content {
    gap: 50px;
  }
  .numbers {
    gap: 10px;
  }
  .numbers .other-container1 {
    gap: 20px !important;
  }
  .numbers .other-container2 {
    gap: 20px !important;
  }
}
@media (max-width: 638px) {
  .main-content .what-we-do .what-components .component-container {
    padding-right: 0;
  }
  .main-content .footer {
    padding-left: 10px;
    padding-right: 10px;
  }
}
@media (max-width: 470px) {
  .main-section .hero-section .text-content h1 {
    font-size: 85px;
    line-height: 90px;
  }
  .main-section .hero-section .text-content a {
    position: relative;
    font-size: 14px;
    top: 10px;
    left: 0%;
    transform: translate(-50%, -50%);
  }
  .main-section .hero-section .text-content a img {
    width: 40px;
  }
  .main-content .what-we-do {
    top: 8px !important;
  }
  .main-content .what-we-do .what-components {
    width: 100%;
  }
  .main-content .what-we-do .what-components .what-we-do-text {
    top: -70px;
  }
  .main-content .what-we-do .what-components h1 {
    font-size: 50px;
    line-height: 40px;
  }
  .main-content .what-we-do .what-components .component-container {
    gap: 2px !important;
  }
  .main-content .our-projects .arrows {
    scale: 0.7;
    left: 280px;
  }
  .main-content .our-projects .images {
    flex-wrap: wrap;
  }
  .main-content .our-projects .images img {
    width: 200px;
  }
  .main-content .footer {
    padding-right: 5px;
    background-color: #DFFC5C;
  }
  .main-content p {
    font-size: 12px;
  }
  .main-content .icons {
    scale: 0.6;
    gap: 18px;
  }
  .main-content .numbers .other-container1 {
    gap: 20px !important;
  }
  .main-content .numbers .other-container2 {
    gap: 20px !important;
  }
}
@media (max-width: 638px) {
  .main-content .what-we-do .what-components {
    min-height: 170px;
  }
  .main-content .what-we-do .what-components .component-container {
    gap: 10px !important;
    scale: 0.9;
    position: absolute;
    right: 10px;
  }
}/*# sourceMappingURL=index.css.map */